@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 57%;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 52.5%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.swiper-pagination-bullet {
  background-color: #ffffff !important;
  width: 14px !important;
  height: 14px !important;
}

.swiper-pagination-bullet-active {
  /* Define your desired active bullet color */
  background-color: #ff0000 !important;
  border: 1px solid #ffffff !important;
}

.p-swiper .swiper-wrapper {
  padding-top: 10rem !important;
}

@media screen and (max-width: 680px) {
  .swiper-pagination-bullet {
    width: 8px !important;
    height: 8px !important;
  }

  .tday .swiper-wrapper {
    padding-top: 15rem !important;
  }
}
